@model SuvaLines.Models.DisplayModels.HomePageModel;

@{

    ViewData["Title"] = "Home Page";
}

<div class="page-main">
    <div class="main-container">
        <div class="main-wrap">

            <div class="main-section">
                <main>

                    <section class="news-list">
                        <ul>
                            @{
                                if (Model.MainSection != null)
                                {
                                    foreach (Articles item in Model.MainSection)
                                    {
                                        <li id="news_li_@item.ArticleId">
                                            <h2>
                                                <a href="Home/Article?id=@item.ArticleId"><strong>@item.LongTitle...</strong></a>
                                                <img class="" alt="news_1" src="@item.ImgUrl" />
                                            </h2>
                                        </li>
                                    }

                                }
                                else
                                {
                                    <li>Error</li>
                                }
                            }

                        </ul>

                    </section>

                    @if (Model.MainSection != null)
                    {
                        <section class="breaking-news-line">
                            <div class="breaking-news-icon">NEW</div>
                            <div class="breaking-news-titles">
                                @foreach (Articles item in Model.MainSection)
                                {
                                    <a href="Article?id=@item.ArticleId" title="@item.LongTitle">@item.LongTitle</a>
                                }
                            </div>
                        </section>
                    }
                    
                        <section class="second-line clearfix">

                            @Html.Partial("_SecBlockHelper", Model.Politics)
                            
                            @Html.Partial("_SecBlockHelper", Model.Business)
                            
                            @Html.Partial("_SecBlockHelper", Model.World)
                            
                            @Html.Partial("_SecBlockHelper", Model.Sports)
                            
                            @Html.Partial("_SecBlockHelper", Model.Teach)
                            
                            @Html.Partial("_SecBlockHelper", Model.Health)
                            
                        </section>

                    <section class="stripe-block clearfix">
                                <div class="stripe-header">Videos</div>

                                <div class="stripe-val">
                                    <a class="stripe-content">
                                        <img class="stripe-img" src="~/img/news_temp/stripe_1.jpg" />
                                        <div class="stripe-text">
                                            <h5>Sanctioning Russia</h5>
                                            <p>
                                                The Republican-controlled Congress can’t unite around Trump’s legislative agenda, but with Democrats they are in unison when it comes to punishing Russia for alleged meddling in the 2016 election. Russia will brush off new sanctions as...
                                            </p>
                                        </div>
                                    </a>

                                    <a class="stripe-content">
                                        <img class="stripe-img" src="~/img/news_temp/stripe_1.jpg" />
                                        <div class="stripe-text">
                                            <h5>Sanctioning Russia</h5>
                                            <p>
                                                The Republican-controlled Congress can’t unite around Trump’s legislative agenda, but with Democrats they are in unison when it comes to punishing Russia for alleged meddling in the 2016 election. Russia will brush off new sanctions as...
                                            </p>
                                        </div>
                                    </a>

                                    <a class="stripe-content">
                                        <img class="stripe-img" src="~/img/news_temp/stripe_1.jpg" />
                                        <div class="stripe-text">
                                            <h5>Sanctioning Russia</h5>
                                            <p>
                                                The Republican-controlled Congress can’t unite around Trump’s legislative agenda, but with Democrats they are in unison when it comes to punishing Russia for alleged meddling in the 2016 election. Russia will brush off new sanctions as...
                                            </p>
                                        </div>
                                    </a>

                                    <a class="stripe-content">
                                        <img class="stripe-img" src="~/img/news_temp/stripe_1.jpg" />
                                        <div class="stripe-text">
                                            <h5>Sanctioning Russia</h5>
                                            <p>
                                                The Republican-controlled Congress can’t unite around Trump’s legislative agenda, but with Democrats they are in unison when it comes to punishing Russia for alleged meddling in the 2016 election. Russia will brush off new sanctions as...
                                            </p>
                                        </div>
                                    </a>

                                </div>
                            </section>

                </main>
            </div>

        </div>
    </div>

</div>
